%h1 BBBBBBBBBBBBBBBBBBBBBBB


- if user_signed_in?
  = link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"
  = current_user.full_name
- else
  = link_to "Login/Sign-up", user_checkin_omniauth_authorize_path, class: "nav-link"


%p
  Session auth:
  = session["auth"].inspect
%p
  Current user:
  = current_user.inspect
